$button-color: #00acdc;
$button-text-color: #fff;
$header-nav-main-color: #000;
$header-nav-secondary-color: #00acdc;
$header-nav-card-background-color: #fff;
$header-elements-height: 60px;
$border-color: #f3f3f3;
$column-gap: 48px;
$row-gap: 50px;
$cards-width: 200px;
$columns: 4;
