.cards {
  display: grid;
  grid-template-columns: repeat($columns, $cards-width);
  justify-content: center;
  grid-gap: $row-gap $column-gap;
  
  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, $cards-width);
  }
}
